# Hamoye Stage A Tag-along Project

Name: Oluwatomisin Tomoloju 

Hamoye ID: 1504056d9c41f000

E-mail: adediwuraoluwatomisin@gmail.com

In [4]:
#importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [36]:
#Question 1

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns = col)


# or pd.DataFrame(lst, columns = col, index = [1,2,3])
# pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [5]:
#Question 2

array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

array[:2,1:]

array([[89, 63],
       [92, 48]])

In [6]:
#Question 5

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [7]:
#Question 6

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [8]:
#Question 7

y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][1]
x

8

In [ ]:
#QUESTIONS 11 - 20

In [10]:
#Head of the dataset

food_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
food_df.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [11]:
#Question 11
#Total sum of animal fats produced in 2014 and 2017 respectively


food_df.groupby('Item').sum().loc[['Animal fats'],['Y2014', 'Y2017']]

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

In [12]:
#Question 12
#Mean and Standard Deviation for year 2015 into 3 decimal places

round(food_df.describe().loc[['mean', 'std'], ['Y2015']], 3)

         Y2015
mean   135.236
std   1603.404

In [17]:
#Question 13
#Total number of missing data in 2016 into 2 decimal places

missing_data = round(food_df['Y2016'].isnull().sum(), 2)

missing_data

1535

In [22]:
#total data

total_data = round(food_df['Y2016'].sum())


total_data

8112473

In [26]:
#percentage of missing data

percentage = round((missing_data/total_data)*100, 2)

percentage

0.02

In [41]:
#Question 14
#Year with the highest correlation with ‘Element Code'

years= ['Y2014', 'Y2015', 'Y2016','Y2017', 'Y2018']
cor=food_df.corr().abs()
unstack=cor.unstack()
sort=unstack.sort_values(kind='quicksort')
print(sort['Element Code'][years].idxmax())

Y2014

In [27]:
#Question 15
#Year with highest number of import quantity

years= ['Y2014', 'Y2015', 'Y2016','Y2017', 'Y2018']

food_df.groupby('Element').sum().loc[['Import Quantity'], years].idxmax(axis=1).reset_index(drop=True)

0    Y2017
dtype: object

In [28]:
#Question 16
#Total sum of production in 2014

food_df.groupby('Element').sum().loc['Production', 'Y2014']

1931287.75

In [30]:
#Question 17
#Element with highest sum in 2018

food_df.groupby('Element').sum()['Y2018'].idxmax()

'Domestic supply quantity'

In [31]:
#Question 18
#Element with 3rd lowest sum in 2018

food_df.groupby('Element').sum()['Y2018'].nsmallest(3).idxmax()

'Protein supply quantity (g/capita/day)'

In [32]:
#Question 19
#Total Import Quantity in Algeria in year 2018

food_df.groupby(['Element', 'Area']).sum().loc['Import Quantity', 'Y2018'].reset_index()[['Area','Y2018']].iloc[[0]]

      Area     Y2018
0  Algeria  36238.29

In [33]:
#Question 20
#Total number of uniques countries n the dataset

food_df.nunique()['Area']

49